.card{
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:0px;
  border-radius: 50%;
}

.CartcardFooter {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  width: 100%;

}

.Cartcard{
  display: flex;
  margin-right: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 100px; 
  border-radius: 20px; 
  flex-wrap: nowrap;
  
}

.card-title{
  font-size: 14px;
  text-align: center;
}

.CartcardImage{
  border-radius: 20px; 
  overflow: hidden; 
  width: 150px; 
  height: 150px;
  object-fit: cover; 
  box-shadow: 0 4px 6px rgb(128, 128, 128); 
  background: linear-gradient(to top, #010101df, #2e2e2e00);
}

.card-image{
  border-radius: 50%;
  overflow: hidden; 
  width: 80px;
  height: 120px; 
  object-fit: cover; 
  box-shadow: 0 4px 6px rgb(128, 128, 128); 
}



.scroll-container {
  padding-left: 30px;
  display: flex;
  min-width: 10px;
  max-height: auto;
  overflow-x: auto;
  white-space: nowrap; /* Prevent cards from wrapping to the next line */
}

.scroll-container .card {
  display: flex;
  flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
  padding: 0px; 
}

.scroll-container .row .col {
  flex: 0 0 auto;
}
.scroll-container::-webkit-scrollbar{
 width: 0px;
 height: 0px;
}




