.PopulerCard{
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 360px; 
    box-shadow: 0 2px 2px rgb(208, 208, 208);
    border-radius:25px;
}

.Populer-scroll-container {
    padding-left: 30px;
    display: flex;
    min-width: 300px;
    max-height: 200px;
    overflow-x: auto;
    white-space: nowrap; 
  }
  
  .Populer-scroll-container .Populer-card {
    display: flex;
    flex-wrap: nowrap; 
    padding: 0px; 
  }
  
  .Populer-scroll-container{
    flex: 0 0 auto;
  }
  .Populer-scroll-container::-webkit-scrollbar{
   width: 0px;
  }

  
.PopulerCardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.cardName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding-left: 5%;
   
}

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding:  10px;
 
  }

  .leftContent {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .CardOverlay{
    background: linear-gradient(to top, #01010147, #2e2e2e00);
    border-radius: 0px 0px 20px 20px;
    padding: 0%;
  }