.searchCard {
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 2px;
    background-color: #fff;
    margin: 5px 6px;

  }
  
  .searchImage {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-right: 16px;
  }
  
  .searchCardDetails {
    flex-grow: 1;
  }
  
  .searchCardFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .searchCardFooter span {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .searchCardFooter .AddButton {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
  }
  
  .searchCardFooter button:hover {
    background-color: #f94a4a;
  }
  .button-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100px;
    height: 45px;
    background-color: #ff3c3c;
  }
  
  .button-container button {
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background-color: #7e7e7e;
    color: #fff;
    cursor: pointer;
    margin: 0 4px;
  }
  
  .button-container button:hover {
    background-color: #ff3c3c;
  }
  
  .button-container span {
    margin: 0 4px;
    font-weight: bold;
  }
  
  