.location-container {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
    padding: 5px;
  }
  
  .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .current-location {
    font-size: 14px;
    font-weight: bold;
  }
  